body {
    background-image: url('../img/login-background.jpg');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa; 
}
body.no-flex {
  display: block;
}
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.6); 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.navbar {
    margin-bottom: 20px;
}
.container {
    margin-top: 20px;
}



.btn-brown {
    background-color: #A52A2A; 
    border-color: #A52A2A;
    color: #ffffff; 
}

.btn-brown:hover {
    background-color: #8B2323; 
    border-color: #8B2323;
}